<div class="card">
  <h5>Row Editing</h5>
  <form #products="ngForm">
    <p-table
      [value]="products2"
      dataKey="id"
      editMode="row"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
          <th style="width: 8rem"></th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-product
        let-editing="editing"
        let-ri="rowIndex"
      >
        <tr [pEditableRow]="product">
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="product.code"
                  required
                  name="code{{ product.code }}"
                />
                <div *ngIf="product.code === ''">This field is required</div>
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.code }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="product.name"
                  required
                  #ri="ngModel"
                  minlength="4"
                  ngModel
                  name="name{{ product.code }}"
                />
                <div *ngIf="product.name === ''">This field is required</div>
                <div *ngIf="product.name.length < 4 && product.name != ''">
                  Min four char required
                </div>
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.name }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown
                  [options]="statuses"
                  [(ngModel)]="product.inventoryStatus"
                  [style]="{ width: '100%' }"
                  name="option{{ product.code }}"
                ></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.inventoryStatus }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="product.price"
                  name="price{{ product.code }}"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.price | currency: "USD" }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align: center">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(product)"
              class="p-button-rounded p-button-text"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              [disabled]="
                product.name === '' ||
                (product.name.length < 4 && product.name != '') ||
                product.code === ''
              "
              (click)="onRowEditSave(product, ri)"
              class="p-button-rounded p-button-text p-button-success mr-2"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(product, ri)"
              class="p-button-rounded p-button-text p-button-danger"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </form>
  <pre>Valid : {{ products.invalid }} </pre>
  <pre>Value : {{ products.value | json }} </pre>
</div>
