<div class="card">
  <div class="card-header">
    <h5>Reactive Forms with PrimeNg Table</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="employeeForm">
      <p-table
        [value]="tableRowArray.controls"
        [responsive]="true"
        dataKey="name"
        editMode="row"
        responsiveLayout="scroll"
        dataKey="name"
      >
        <!--dataKey is set wrongly-->
        <ng-template pTemplate="header">
          <tr>
            <ng-container *ngFor="let col of columns">
              <td>{{ col }}</td>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-rowData
          let-rowIndex="rowIndex"
          let-editing="editing"
        >
          <ng-container formArrayName="tableRowArray">
            <tr [formGroupName]="rowIndex" [pEditableRow]="rowData">
              <td style="text-align: center">
                <button
                  *ngIf="!editing"
                  pButton
                  pRipple
                  type="button"
                  pInitEditableRow
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-text"
                ></button>
                <button
                  *ngIf="editing"
                  pButton
                  pRipple
                  type="button"
                  pSaveEditableRow
                  icon="pi pi-check"
                  class="p-button-rounded p-button-text p-button-success mr-2"
                ></button>
                <button
                  *ngIf="editing"
                  pButton
                  pRipple
                  type="button"
                  pCancelEditableRow
                  icon="pi pi-times"
                  class="p-button-rounded p-button-text p-button-danger"
                ></button>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input"></ng-template>
                  <ng-template pTemplate="output">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      formControlName="name"
                    />
                    <div
                      class="text-danger"
                      *ngIf="
                        rowData.get('name').errors &&
                        (rowData.get('name').dirty ||
                          rowData.get('name').touched)
                      "
                    >
                      <div *ngIf="rowData.get('name').errors?.required">
                        Name is Required
                      </div>
                    </div>
                  </ng-template>
                </p-cellEditor>
              </td>
            </tr>
          </ng-container>
        </ng-template>
      </p-table>
    </form>
  </div>
  <div class="card-footer">
    <button
      type="button"
      class="btn btn-primary btn-sm pull-left"
      (click)="addNewRow()"
    >
      Add Row
    </button>
    <button
      type="button"
      class="btn btn-success btn-sm pull-right"
      title="Save"
    >
      Save
    </button>
  </div>
</div>
